// Default Colors
$orange: rgb(234, 66, 0);
$lightGreen: rgb(117, 178, 121);

// $palette: ( orange: ( base: hsl(16.92, 100%, 45.88%), light: hsl(15.84, 94.68%, 63.14%), lighter: hsl(16.94, 100%, 75.69%) ))

$palettes: (
        orange: (
                600: hsl(16.92, 100%, 45.88%),
                500: hsl(16.96, 100%, 54.9%),
                400: hsl(16.96, 100%, 63.92%),
                300: hsl(16.96, 100%, 72.94%),
                200: hsl(16.96, 100%, 81.96%),
                100: hsl(16.96, 100%, 90.98%),
        ),
        lightGreen: (
                600: hsl(123.93, 28.37%, 57.84%),
                500: hsl(123.53, 28.49%, 64.9%),
                400: hsl(124.39, 28.67%, 71.96%),
                300: hsl(123.87, 28.97%, 79.02%),
                200: hsl(123, 27.78%, 85.88%),
                100: hsl(126, 27.78%, 92.94%),
        ),
        treeGreen: (
                600: hsl(151.46, 98.1%, 20.59%),
                500: hsl(151.24, 97.69%, 33.92%),
                400: hsl(151.53, 98.33%, 47.06%),
                300: hsl(151.66, 98.03%, 60.2%),
                200: hsl(151.58, 98.52%, 73.53%),
                100: hsl(151.82, 97.06%, 86.67%),
        ),
        darkGreen: (
                600: hsl(160, 72.41%, 17.06%),
                500: hsl(160, 72.15%, 30.98%),
                400: hsl(160.12, 72.81%, 44.71%),
                300: hsl(160, 72.51%, 58.63%),
                200: hsl(160.19, 73.05%, 72.35%),
                100: hsl(160, 71.83%, 86.08%),
        ),
        bodyBlack: (
                600: hsl(0, 0%, 5.1%),
                500: hsl(0, 0%, 20.78%),
                400: hsl(0, 0%, 36.86%),
                300: hsl(0, 0%, 52.55%),
                200: hsl(0, 0%, 68.24%),
                100: hsl(0, 0%, 84.31%),
        ),
        lightGray: (
                600: hsl(0, 0%, 94.12%),
                500: hsl(0, 0%, 95.29%),
                400: hsl(0, 0%, 96.08%),
                300: hsl(0, 0%, 97.25%),
                200: hsl(0, 0%, 98.04%),
                100: hsl(0, 0%, 99.22%),
        ),
        pasteWhite: (
                600: hsl(0, 0%, 98.82%),
                500: hsl(0, 0%, 99.22%),
                400: hsl(0, 0%, 99.22%),
                300: hsl(0, 0%, 99.61%),
                200: hsl(0, 0%, 99.61%),
                100: hsl(0, 0%, 100%),
        )
)
